<div class="row">
  <div class="col s12">
    <div id="color-usage" class="section scrollspy">
      <h2 class="header">Awesome WebApps v3 - <i>redis, multi webservers</i></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s6">

    <div id="docker1" class="col s12 box-spacer">
      <div class="row  col s12 box z-depth-2 valign-wrapper">
        <div class="valign center-align">

          <div class="row">
            <div class="col s12">
              <h5 class="header" >Docker connect</h5>
            </div>
          </div>

          <div class="input-field col s12">
            <input name="docker_host1" id="docker_host1" type="text" value="localhost:3000">
            <label for="docker_host1">Enter hostname</label>
          </div>

          <div class="input-field col s12">
            <input name="docker_path1" id="docker_path1" type="text" value="/awesome/v3/app">
            <label for="docker_path1">Path on host</label>
          </div>

          <div class="col s12">
            <button class="waves-effect waves-light btn deep-orange lighten-1" onclick="return docker_connect($('#docker_host1').val(),$('#docker_path1').val(),'docker1');">Connect</button>
          </div>
        </div>
      </div>
    </div>

    <div id="docker2" class="col s12 box-spacer ">
      <div class="row  col s12 box z-depth-2 valign-wrapper">
        <div class="valign center-align">

          <div class="row">
            <div class="col s12">
              <h5 class="header" >Docker connect</h5>
            </div>
          </div>

          <div class="input-field col s12">
            <input name="docker_host2" id="docker_host2" type="text" value="localhost:3000">
            <label for="docker_host2">Enter hostname</label>
          </div>

          <div class="input-field col s12">
            <input name="docker_path2" id="docker_path2" type="text" value="/awesome/v3/app">
            <label for="docker_path2">Path on host</label>
          </div>

          <div class="col s12">
            <button class="waves-effect waves-light btn deep-orange lighten-1" onclick="return docker_connect($('#docker_host2').val(),$('#docker_path2').val(),'docker2');">Connect</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s6">
    <svg version="1.1" width="400px" hight="400px" viewBox="0.0 0.0 331.0 331.0" fill="none" stroke="none" stroke-linecap="square" stroke-miterlimit="10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <clipPath id="p.0">
        <path d="m0 0l960.0 0l0 720.0l-960.0 0l0 -720.0z" clip-rule="nonzero"></path>
      </clipPath>
      <g clip-path="url(#p.0)">
        <path fill="#000000" fill-opacity="0.0" d="m0 0l960.0 0l0 720.0l-960.0 0z" fill-rule="nonzero"></path>
        <path fill="#f6b26b" d="m225.40158 131.50131l100.188965 0l0 100.69292l-100.188965 0z" fill-rule="nonzero"></path>
        <path stroke="#000000" stroke-width="2.0" stroke-linejoin="round" stroke-linecap="butt" d="m225.40158 131.50131l100.188965 0l0 100.69292l-100.188965 0z" fill-rule="nonzero"></path>
        <path fill="#93c47d" d="m6.1574802 257.01837l319.43307 0l0 58.614166l-319.43307 0z" fill-rule="nonzero"></path>
        <path stroke="#000000" stroke-width="2.0" stroke-linejoin="round" stroke-linecap="butt" d="m6.1574802 257.01837l319.43307 0l0 58.614166l-319.43307 0z" fill-rule="nonzero"></path>
        <path fill="#cfe2f3" d="m112.67454 5.7847767l100.18897 0l0 100.69292l-100.18897 0z" fill-rule="nonzero"></path>
        <path stroke="#000000" stroke-width="2.0" stroke-linejoin="round" stroke-linecap="butt" d="m112.67454 5.7847767l100.18897 0l0 100.69292l-100.18897 0z" fill-rule="nonzero"></path>
        <path fill="#000000" fill-opacity="0.0" d="m171.32283 106.47769l54.07875 75.37007" fill-rule="nonzero"></path>
        <path stroke="#000000" stroke-width="2.0" stroke-linejoin="round" stroke-linecap="butt" d="m171.32283 106.47769l54.07875 75.37007" fill-rule="nonzero"></path>
        <path fill="#f6b26b" d="m6.1574802 131.50131l100.18898 0l0 100.69292l-100.18898 0z" fill-rule="nonzero"></path>
        <path stroke="#000000" stroke-width="2.0" stroke-linejoin="round" stroke-linecap="butt" d="m6.1574802 131.50131l100.18898 0l0 100.69292l-100.18898 0z" fill-rule="nonzero"></path>
        <path fill="#000000" fill-opacity="0.0" d="m162.76903 106.47769l-56.409447 75.37007" fill-rule="nonzero"></path>
        <path stroke="#000000" stroke-width="2.0" stroke-linejoin="round" stroke-linecap="butt" d="m162.76903 106.47769l-56.409447 75.37007" fill-rule="nonzero"></path></g>
      </svg>
    </div>
  </div>
</div>
  <%- contentFor('css') %>
  <%- contentFor('js') %>
  <script  type="text/javascript" src="/assets/scripts/docker_connect.js"></script>