<div class="row">
  <div class="col s12">
    <div id="color-usage" class="section scrollspy">
      <h2 class="header">Awesome WebApps v2 - <i>redis</i></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s6 box z-depth-2">
    <div class="row">
      <div class="col s12">
        <ul id="keys"></ul>
      </div>
    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="col s12">
        <h5 class="header" >Set Keys</h5>
      </div>
      <div class="input-field col s6">
        <input name="set_key" id="set_key" type="text" class="validate">
        <label for="set_key">Awesome key</label>
      </div>
      <div class="input-field col s6">
        <input name="set_value" id="set_value" type="text" class="validate">
        <label for="set_value">Awesome Value</label>
      </div>
      <div class="col s6">
        <button class="waves-effect waves-light btn deep-orange lighten-1" onclick="return set_key();">Set key</button>
      </div>
    </div>
  </div>
  <div class="col s6">
    <svg version="1.1" width="400px" hight="400px" viewBox="0.0 0.0 331.0 221.0" fill="none" stroke="none" stroke-linecap="square" stroke-miterlimit="10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <clipPath id="p.0">
        <path d="m0 0l960.0 0l0 720.0l-960.0 0l0 -720.0z" clip-rule="nonzero"></path>
      </clipPath>
      <g clip-path="url(#p.0)">
        <path fill="#000000" fill-opacity="0.0" d="m0 0l960.0 0l0 720.0l-960.0 0z" fill-rule="nonzero"></path>
        <path fill="#f6b26b" d="m222.5538 5.4593177l100.188965 0l0 100.69291l-100.188965 0z" fill-rule="nonzero"></path>
        <path stroke="#000000" stroke-width="2.0" stroke-linejoin="round" stroke-linecap="butt" d="m222.5538 5.4593177l100.188965 0l0 100.69291l-100.188965 0z" fill-rule="nonzero"></path><path fill="#93c47d" d="m3.3097112 130.97638l319.43304 0l0 58.614166l-319.43304 0z" fill-rule="nonzero"></path>
        <path stroke="#000000" stroke-width="2.0" stroke-linejoin="round" stroke-linecap="butt" d="m3.3097112 130.97638l319.43304 0l0 58.614166l-319.43304 0z" fill-rule="nonzero"></path><path fill="#cfe2f3" d="m3.3097112 5.4593177l100.18898 0l0 100.69291l-100.18898 0z" fill-rule="nonzero"></path>
        <path stroke="#000000" stroke-width="2.0" stroke-linejoin="round" stroke-linecap="butt" d="m3.3097112 5.4593177l100.18898 0l0 100.69291l-100.18898 0z" fill-rule="nonzero"></path><path fill="#000000" fill-opacity="0.0" d="m103.49869 55.805775l119.055115 0" fill-rule="nonzero"></path>
        <path stroke="#000000" stroke-width="2.0" stroke-linejoin="round" stroke-linecap="butt" d="m103.49869 55.805775l119.055115 0" fill-rule="nonzero"></path>
      </g>
    </svg>
  </div>
</div>

<%- contentFor('css') %>
<%- contentFor('js') %>
<script  type="text/javascript" src="/assets/scripts/awesome_v2.js"></script>