<div class="row">
  <div class="col s12">
    <div id="color-usage" class="section scrollspy">
      <h2 class="header">Docker command</h2>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="row">
  <a class="waves-effect waves-light btn" id="btn_docker_build">Docker Build</a>
</div>
<div class="row">
  <i>How to build a docker container on command line.</i>
</div>
<div class="row">
  <pre class="col s12 deep-orange lighten-5" id="docker_build">
    <code  class="language-bash">
    <b>$></b> docker build -t awsome-webapp .
    </code>
  </pre>
</div>

<div class="divider"></div>

<div class="row">
  <a class="waves-effect waves-light btn" id="btn_docker_run">Docker RUN</a>
</div>
<div class="row">
  <i>How to create and start a docker container on command line.</i>
</div>
<div class="row"  id="docker_run" style="display: none">
  <pre class="col s12 deep-orange lighten-5" >
    <code class="language-bash">
    <i># Run awsome-webapp in the background</i>
    <b>$></b> docker run -d --name awsome-webapp awsome-webapp
    </code>
  </pre>

  <pre class="col s12 deep-orange lighten-5">
    <code class="language-bash">
    <i># Run awsome-webapp in the foreground, and remove on exit</i>
    <b>$></b> docker run -it --rm --name awsome-webapp awsome-webapp
    </code>
  </pre>
</div>

<div class="divider"></div>

<div class="row">
  <a class="waves-effect waves-light btn" id="btn_docker_ps">Docker PS</a>
</div>
<div class="row">
  <i>How to list all running and stopped containers.</i>
</div>
<div class="row"  id="docker_ps" style="display: none">
  <pre class="col s12 deep-orange lighten-5" >
    <code class="language-bash">
    <i># List all running containers</i>
    <b>$></b> docker ps
    </code>
  </pre>

  <pre class="col s12 deep-orange lighten-5">
    <code class="language-bash">
    <i># List all running containers and stopped containers.</i>
    <b>$></b> docker ps --all
    </code>
  </pre>
</div>

<div class="divider"></div>

<div class="row">
  <a class="waves-effect waves-light btn" id="btn_docker_exec">Docker Exec</a>
</div>
<div class="row">
  <i>Run a command inside the docker container or just enter the container to view/modify some states.</i>
</div>
<div class="row"  id="docker_exec" style="display: none">
  <pre class="col s12 deep-orange lighten-5" >
    <code class="language-bash">
    <i># Run command inside the contaner</i>
    <b>$></b> docker exec awsome-webapp ls
    </code>
  </pre>

  <pre class="col s12 deep-orange lighten-5">
    <code class="language-bash">
    <i># Enter the container to do some stuff.</i>
    <b>$></b> docker exec -it awsome-webapp bash
    </code>
  </pre>
</div>

<div class="divider"></div>

<div class="row">
  <a class="waves-effect waves-light btn" id="btn_docker_kill">Docker kill</a>
</div>
<div class="row">
  <i>Kill a running container (send SIGKILL, or specified signal)</i>
</div>
<div class="row"  id="docker_kill" style="display: none">
  <pre class="col s12 deep-orange lighten-5" >
    <code class="language-bash">
    <i># Kill running container (send SIGKILL, or specified signal)</i>
    <b>$></b> docker kill awsome-webapp
    </code>
  </pre>
</div>

<div class="divider"></div>

<div class="row">
  <a class="waves-effect waves-light btn" id="btn_docker_rm">Docker rm</a>
</div>
<div class="row">
  <i>Removes a stopped/killed container</i>
</div>
<div class="row"  id="docker_rm" style="display: none">
  <pre class="col s12 deep-orange lighten-5" >
    <code class="language-bash">
    <i># Remove the container</i>
    <b>$></b> docker rm awsome-webapp
    </code>
  </pre>
</div>

<div class="divider"></div>

<div class="row">
  <a class="waves-effect waves-light btn" id="btn_docker_act">Docker graceful commands</a>
</div>
<div class="row">
  <i>To be more graceful to the container main process.</i>
</div>
<div class="row"  id="docker_act" style="display: none">
  <pre class="col s12 deep-orange lighten-5" >
    <code class="language-bash">
    <i># Stop the container (send SIGTERM, and then SIGKILL after grace period)</i>
    <b>$></b> docker stop awsome-webapp
    </code>
  </pre>

  <pre class="col s12 deep-orange lighten-5">
    <code class="language-bash">
    <i># Start a stopped container, need to exist before</i>
    <b>$></b> docker start awsome-webapp
    </code>
  </pre>

  <pre class="col s12 deep-orange lighten-5">
    <code class="language-bash">
    <i># Retart a running container, need to exist before</i>
    <b>$></b> docker restart awsome-webapp
    </code>
  </pre>
</div>


<script type="text/javascript">

$('#btn_docker_build').click(function() {
  $('#docker_build').toggle("slow");
});

$('#btn_docker_run').click(function() {
  $('#docker_run').toggle("slow");
});

$('#btn_docker_ps').click(function() {
  $('#docker_ps').toggle("slow");
});

$('#btn_docker_exec').click(function() {
  $('#docker_exec').toggle("slow");
});

$('#btn_docker_rm').click(function() {
  $('#docker_rm').toggle("slow");
});

$('#btn_docker_kill').click(function() {
  $('#docker_kill').toggle("slow");
});

$('#btn_docker_act').click(function() {
  $('#docker_act').toggle("slow");
});


</script>

<%- contentFor('css') %>
<%- contentFor('js') %>
