<div class="row">
  <div class="col s12 m9 l10">
    <div id="color-usage" class="section scrollspy">
      <h2 class="header">Working with Docker</h2>
      <div class="big-text">
        <ol>
          <li><a href="/awesome/v0">Awesome WebApp version 0, in app</a></li>
          <li><a href="/docker/dockerfile">Dockerfile</a></li>
          <li><a href="/docker/docker">Docker</a></li>
          <li><a href="/awesome/v1">Awesome WebApp version 1, in app, docker</a></li>
          <li><a href="/docker/docker_v2">Docker Advanced</a></li>
          <li><a href="/awesome/v2">Awesome WebApp version 2, docker, redis</a></li>
          <li><a href="/docker/docker_compose">Docker Compose</a></li>
          <li><a href="/awesome/v3">Awesome WebApp version 3, docker, redis, multi app</a></li>
          <li>Security</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<%- contentFor('css') %>
<%- contentFor('js') %>
<script  type="text/javascript" src="/assets/scripts/docker_connect.js"></script>