<div class="row">
  <div class="col s12 m9 l10">
    <div id="color-usage" class="section scrollspy">
      <h2 class="header">Working with Docker</h2>
      <ul>
        <li>Awesome WebApp v1</li>
        <li>Docker</li>
        <li>Dockerfile</li>
        <li>Awesome WebApp v2</li>
        <li>Docker Compose</li>
        <li>Awesome WebApp v3</li>
        <li>Security</li>
      </ul>
    </div>
  </div>
</div>


<%- contentFor('css') %>
<%- contentFor('js') %>